/*
* global.css
*
* Global styles for the entire application
 */

/* Tailwind CSS */
@import 'tailwindcss';
@import 'tw-animate-css';

/* local styles - update the below if you add a new style */
@import './theme.css';
@import './theme.utilities.css';
@import './shadcn-ui.css';

/* content sources - update the below if you add a new path */
@source '../../../packages/ui/src/**/*.{ts,tsx}';
@source '../{app,components}/**/*.{ts,tsx}';

/* variants - update the below if you add a new variant */
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: theme(--color-muted-foreground);
  }
}
